#contenedor #profile .tab .search_contain{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 55px;
}

#contenedor #profile .tab .search_contain #search_inner{
    margin: 10px 10px;
}

#contenedor #profile .tab .search_contain #search_inner .input_text{
    width: 100%;
    border: 1px solid transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    appearance: unset;
    outline: none;
    font-size: 1.75rem;
    color: #F2F2F2;
    font-weight: normal;
    box-sizing: border-box;
}

#contenedor #profile .tab .search_contain #search_inner .input_text:focus{
    border-bottom: 1px solid #F2EC99;
}

#contenedor #profile .tab .search_contain #button_search{
    background: rgba(0, 1, 13, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border-radius: 50%;
}