#contenedor #profile .tab .search_contain{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 55px;
}

#contenedor #content .contain ul{
    width: 100%;
    list-style: none;
    display: grid;
    row-gap: 2px;
    grid-template-columns: 1fr;
    padding-left: 0;
}

#contenedor #content .contain ul li{
    display: flex;
    justify-content: space-between;
    background-color: rgba(64, 1, 1, .25);
    border: 1px solid rgba(64, 1, 1, .75);
    padding: 10px;
}

#contenedor #content .contain ul li:hover{
    background-color: rgba(64, 1, 1, .75);
    color: #F2E9CE;
}

#contenedor #content .contain .overflow_row .text_xs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

#contenedor #content .contain .overflow_row .text_xs .text_title{
    font-weight: bold;
}

#contenedor #content .contain .overflow_row .text_xs .text_info{
    font-size: 14px;
    display: grid;
    width: 160px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
}

#contenedor #content .contain .overflow_row .grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
}

#contenedor #content .contain .overflow_row .grid button{
    width: 36px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    background-color: #C6B299;
    border: 1px solid rgba(64, 1, 1, .75);
    outline: none;
    box-shadow: none;
    padding: 1px;
    overflow: hidden;
}

#contenedor #content .contain .overflow_row .grid button:hover{
    background-color: #703b33;
    color: #F2E9CE;
    overflow: visible;
}

#contenedor #content .contain .overflow_row .grid .b3:hover{
    background-color: #E90014;
    color: #703b33;
}

#contenedor #content .contain .overflow_row .grid .grid_buttons .grid_img{
    width: 100%;
    height: 100%;
}



