body{
    margin: 0;
}

#contenedor{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background: rgb(242,39,56);
    background: radial-gradient(circle, rgba(242,39,56,1) 20%, rgba(64,1,1,1) 100%);
    display: flex;
    justify-content: space-between;
}

#contenedor .contenedor_inner{
    background: #400101;
    width: 20vw;
    font-family: "ABeeZee", monospace, sans-serif;
    color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 32px;
}

#contenedor #profile{
    border-top-right-radius: 2rem 50%;
    border-bottom-right-radius: 2rem 50%;
    box-shadow: 0 8px 20px 0 #00010D;
}

#contenedor .title{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 20px;
    height: 15%;
    font-size: 1.35rem;
    font-weight: normal;
    color: #F2F2F2;
}

#contenedor #profile .image_contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #00010D;
    border-radius: 50%;
}

#contenedor #profile .image_contain img{
    border-radius: 50%;
    width: 99%;
    height: 99%;
}

#contenedor .tab{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 45px 0;
    height: 100%;
}

#contenedor .tab .tab_inner .tab_buttons{
    background: transparent;
    border: 2px solid #F2EC99;
    padding: 18px 36px;
    display: inline-block;
    font-family: "ABeeZee", monospace, sans-serif;
    color: #F2F2F2;
    font-size: 1.75rem;
    font-weight: normal;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #F2EC99;
    transition: ease-out 0.4s;
}

#contenedor .tab .tab_inner .tab_buttons:hover{
    box-shadow: inset 0 0 0 50px #F2EC99;
    color: #00010D;
}

#contenedor #content{
    justify-content: space-between;
    width: 50%;
    background: transparent;
    margin: 45px 0;
}

#contenedor #content .logo_contain{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-self: center;
    background: #00010D;
    border-radius: 35%;
    box-shadow: 0 8px 20px 0 #00010D;
}

#contenedor #content .logo_contain img{
    border-radius: 35%;
}

#contenedor #content .contain{
    height: 100%;
    margin: 40px 0;
    padding: 30px 10px;
    border-radius: 10%;
    background: #F2E9CE;
    color: #00010D;
    border-style: outset;
}

#contenedor #content .contain .contain_inner{
    width: 100%;
    height: 100%;
    overflow: auto;
    scrollbar-width: thin;
    max-height: 455px;
}

#contenedor #content .contain .contain_inner img{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#contenedor #content .container_redes{
    display: flex;
    justify-content: center;
}

#contenedor #content .container_redes a{
    display: block;
    text-decoration: none;
    overflow: hidden;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    text-align: center;
    background-color: #F2F2F2;
    box-shadow: 3px 3px 4px 0 rgba(242, 242, 242, .5);
    margin: 0 2.5vw;
}

#contenedor #content .container_redes a::before{
    display: block;
    margin: 13px 0;
    transition: all .3s ease-in-out;
}

#contenedor #content .container_redes #one::before{
    content: url("../images/fb.ico");
}

#contenedor #content .container_redes #two::before{
    content: url("../images/dc.ico");
}

#contenedor #content .container_redes #three::before{
    content: url("../images/ig.ico");
}

#contenedor #content .container_redes #four::before{
    content: url("../images/x.ico");
}

#contenedor #content .container_redes #five::before{
    content: url("../images/ytb.ico");
}

#contenedor #content .container_redes a:hover::before{
    margin-top: -37px;
}

#contenedor #content .container_redes a::after{
    content: url("../images/share.ico");
    display: block;
}

#contenedor #menubar{
    border-top-left-radius: 2rem 50%;
    border-bottom-left-radius: 2rem 50%;
    box-shadow: 0 8px 20px 0 #00010D;
}