*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../images/background.svg");
    background-size: cover;
}

#section_1{
    width: 35%;
    float: right;
    height: 100vh;
    background-color: #F2F2F2;
    box-shadow: -10px 0 25px #400101,
    10px 0 25px #400101;
    border-radius: 50% / 500px 0 0 500px;
    align-content: center;
    text-align: center;
}